@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Kurenaido&family=Zen+Old+Mincho:wght@400;700;900&display=swap");


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Zen Kurenaido', sans-serif;
    font-family: 'Zen Old Mincho', serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
  --clr: #ffffff;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar a {
    padding: 18px 18px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    flex: 1;
    transition: all 0.5s ease-out;
}

.navbar a:hover {
    background-color: var(--clr);
    color: black
}

.navbar .active {
  background-color: rgb(32,178,255);
  color: white;
}

.sm a {
    color: #fff;
    font-size: 22px;
    margin : 0 10px;
    display: inline-block;
    transition: all 1s ease;
}

.sm a:hover {
    transform: scale(2.0);
    color: var(--clr);
}

#home {
    font-size: 22px;
    height: 100vh;
    min-height: 500px;
    background: url("image/bg.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content{
    width: 100%;
    color: #fff;
}

#home .content h1 {
    font-size: 60px;
    margin-bottom: 60px;
}

@keyframes textanim {
    from {
        content: "Denta";
    }
    to {
        content: "dxtstd"
    }
}

#home .content h1::after {
    content: "";
    animation: textanim 10s linear infinite;
}

#about {
    margin-top: 10px;
    margin-bottom: 50px;
}

#about .title {
    font-size: 30px;
    text-align: center;
}

#about p {
    font-size: 15px;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-text{
    flex:1;
}

.about-text p{
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
    letter-spacing: 2px;
}


#testing {
    margin-top: 10px;
    margin-bottom: 50px;
}

#testing .title {
    font-size: 30px;
    text-align: center;
}

#testing p {
    font-size: 15px;
}

.clock {
    font-size: 20px
}

.button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button_test {
    background-color: #dddddd;
    border: 0px solid black;
    border-radius: 10px;
    color: black;
}

.button_test:hover {
    background-color: var(--clr);
    border: 2px solid black;
}

