@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar {
    font-family: 'Sans-Serif';
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar a {
    padding: 16px 18px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    flex: 1;
    transition: all 0.5s ease-out;
}

.navbar a:hover {
    background-color: #ddd;
    color: black
}
.navbar a:focus {
    background-color: #fff;
    color: #333;
}

.navbar .active {
  background-color: rgb(32,178,255);
  color: white;
}


#home {
    font-family: 'Montserrat';
    font-size: 22px;
    height: 100vh;
    min-height: 500px;
}


#home .bg {
    background-image: url("image/bg.png");
    background-repeat: no-repeat;
    background-size: co;
    background-position: center;
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content{
    width: 100%;
    color: #fff;
}

#home .content h1 {
    font-size: 60px;
    margin-bottom: 60px;
}

@keyframes textanim {
    from {
        content: "dxtstd";
    }
    to {
        content: "Denta"
    }
}

#home .content h1::after {
    content: "";
    animation: textanim 10s linear infinite;
}

#about {
    margin-top: 10px;
    margin-bottom: 50px;
}

#about .title {
    font-size: 30px;
    text-align: center;
}

#about p {
    font-size: 15px;
}

#testing {
    margin-top: 10px;
    margin-bottom: 50px;
}

#testing .title {
    font-size: 30px;
    text-align: center;
}

#testing p {
    font-size: 15px;
}

.clock {
    font-size: 20px
}